<!DOCTYPE html>
<html>
<head>
	<title>CookBooker</title>
</head>
<body>
	<h1>Welcome, <%=@user.username%></h1>
	<h4>Here are your recipes!</h4><br>
	<%@recipes.each do |recipe|%>
	<li>
		<a href="/recipes/<%=recipe.id%>"><p><%=recipe.name%></p></a>
	</li>
	<%end%>

	<a href="/recipes/new">Create a New Recipe</a>

</body>
</html>
