<!DOCTYPE html>
<html>
<head>
	<title>CookBooker</title>
</head>
<body>
	<h1>Welcome, <%=current_user.username%></h1>
	<h4>Here are your recipes : </h4><br>
	
	<%current_user.recipes.each do |recipe|%>
	<li>
		<a href="/recipes/<%=recipe.id%>"><%=recipe.name%> </a>
	</li><br><br>
	<%end%>

	<form method="href" action="/recipes/new">
		<input type="submit" value=" Create a New Recipe "><br>
	</form><br><br><br>





</body>
</html>
