<!DOCTYPE html>
<html>
<head>
	<title>CookBooker Community Recipes</title>
</head>
<body>
	<h1><%=@recipe.name%> - </h1> <h2> by <%=@recipe.user.username%></h2><br><br>
	<h4>Ingredients:</h4> <br> <p><%=@recipe.ingredients%></p><br><br>
	<h4>Instructions:</h4> <br><p><%=@recipe.instructions%></p><br><br>
	
	<a href="/recipes/user_index"> Back to your list of recipes</a><br><br>

	<form method="href" action="/users/logout">
		<input type="submit" value=" Log Out "><br>
	</form>
</body>
</html>