<!DOCTYPE html>
<html>
<head>
	<title>CookBooker Recipes</title>
</head>
<body>
	<h1>Welcome to CookBooker, <%=current_user.username%> </h1>

	<h2> Get started by <a href="/recipes/new"> creating your own recipe</a></h2><br><br>
		<h4>Need inpiration ? Here are the recipes posted by other users:</h4><br><br>
		<li>
		<%Recipe.all.each do |recipe|%>
			<a href="/recipes/<%=recipe.id%>"><%=recipe.name%></a> by <%=recipe.user.username%><br><br>
			<%end%>
		</li>



	

</body>
</html>