<!DOCTYPE html>
<html>
<head>
	<title>Create a CookBooker Account</title>
</head>
<body>
	<form method="POST" action="/create_user">
		<h1>Create your CookBooker Account</h1>
		<label>Username: </label> <input type="text" name="username"><br><br>
		<label>Password: </label> <input type="text" name="password"><br><br>
		<input type="submit" value=" Create Your CookBooker Account "><br><br>

		<% if flash.has?(:message) %>
  	<%= flash[:message] %>
		<% end %>

		
	</form>

</body>
</html>