<!DOCTYPE html>
<html>
<head>
	<title>Welcome to CookBooker!</title>
	<link rel="stylesheet" href="../../public/stylesheets/index.css">
</head>
<body>
	<h1>Welcome to CookBooker. </h1><br>
	<h4>Keep track of all your favorite recipes!</h4><br><br>

	<p>Please <a href="/users/signup">Sign Up</a> or <a href="/users/login">Login</a> to continue.</p>

</body>
</html>