<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>Cookbooker</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="wrapper">

    <div> 
      <% if !logged_in?%>
       <a href="/users/login">Login</a> - 
       <a href="/users/signup">Sign up</a><br><br>

      <% else %>
        <a href="/recipes/user_index">My Recipes</a> - 
        <a href="/recipes/community_index">Community Recipes</a> - 
        <a href="/recipes/new">Add a Recipe</a> - 
        <a href="/users/logout">Logout</a><br><br>
        
    
  </form>

      <%end%>
    </div>

      <%= yield %>

    <footer class="branding">
     
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
</body>
